<!DOCTYPE html>
  <html>
  <head>
    <meta charset="UTF-8">
    <title>login page</title>
  </head>
  <body>

<form action="/login" method="post">
  <input type="text" name="username" value="">
  <input type="password" name="password" value="">
  <button type="submit" name="button">Submit</button>
</form>
{{error}}

  </body>
  </html>
