<!DOCTYPE html>
  <html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login page</title>
  </head>
  <body>

<form action="/login" method="post">
  <input type="text" name="username" value="">
  <input type="password" name="password" value="">
  <button type="submit" name="button">Submit</button>
</form>

  </body>
  </html>
